.custom-popup .maplibregl-popup-content {
    min-width: 75px;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 'larger';
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .custom-popup .maplibregl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.8);
  }
  .popup-content {
    text-align: center;
  }
  .feature-name {
    font-weight: bold;
    margin: 0;
  }
  .divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
  }
  .feature-value {
    margin: 0;
  }