/**
 * Generates a popup content HTML template for a given zone.
 */

<div class="popup-content">
  <p class="summary-text">Severence of zone:</p>
  <p class="feature-name">{feature_name}</p>
  <hr class="divider">
  <div class="metadata-item">
    <span class="metadata-key">Population:</span>
    <span class="metadata-value">{population_census_2021}%</span>
  </div>
  <div class="metadata-item">
    <span class="metadata-key">Overall Decile Risk:</span>
    <span class="metadata-value">{overall_decile_risk}%</span>
  </div>
</div>
